.Lottery-ticket {
    text-align: center;
}

.LT-box-ticket {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  width: 60vw;
  margin: auto;
}

.LT-numTicket {
  width: 10px;
  font-weight: bold;
}

.LT-numTicket {
  width: 10px;
  font-weight: bold;
}

.Final-box {
  padding: 15px;
  text-align: center;
}
